<section class="operations container">
    <h1 class="page-title">Income and Expenses</h1>

    <div class="actions-group">
        <a href="/operations/create" id="create-income" class="btn btn-success" data-action="create">
            <i class="bi bi-plus-lg"></i> Income
        </a>
        <a href="/operations/create" id="create-expense" class="btn btn-danger" data-action="create">
            <i class="bi bi-plus-lg"></i> Expense
        </a>
    </div>

    <div id="periods" class="period">
        <button class="period__button btn btn-secondary" data-period="today">Today</button>
        <button class="period__button btn btn-outline-secondary" data-period="week">Week</button>
        <button class="period__button btn btn-outline-secondary" data-period="month">Month</button>
        <button class="period__button btn btn-outline-secondary" data-period="year">Year</button>
        <button class="period__button btn btn-outline-secondary" data-period="all">All</button>
        <button class="period__button btn btn-outline-secondary" data-period="interval">Interval</button>
        <div class="period__custom">
            <span>from</span>
            <button class="fromDate text-secondary" id="fromDate" type="button">
                <span id="fromDateText">Date</span>
            </button>

            <span>to</span>
            <button class="toDate text-secondary" id="toDate" type="button">
                <span id="toDateText">Date</span>
            </button>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table table-hover">
            <thead>
            <tr class="table__header">
                <th class="col-hidden" scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th class="col-hidden" scope="col">Note</th>
                <th scope="col" style="width: 60px"></th>
            </tr>
            </thead>
            <tbody id="tbody-table"></tbody>
        </table>
    </div>
    <nav id="pagination" aria-label="Operations pagination"></nav>
</section>
