<section class="container p-0">
    <header class="page-title">Income</header>
    <div id="categories" class="categories row">
        <article class="category-card"
                 data-category-id="deposits">
            <h3 id="category-card__title" class="category-card__title">Deposits</h3>
            <div>
                <a href="/categories/income/:id/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete"
                        data-bs-toggle="modal" data-bs-target="#delete-category-modal">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="salary">

            <h3 class="category-card__title">Salary</h3>
            <div>
                <a href="/categories/income/:id/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete"
                        data-bs-toggle="modal" data-bs-target="#delete-category-modal">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="savings">

            <h3 class="category-card__title">Savings</h3>
            <div>
                <a href="/categories/income/:id/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete"
                        data-bs-toggle="modal" data-bs-target="#delete-category-modal">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="investments">

            <h3 class="category-card__title">Investments</h3>
            <div>
                <a href="/categories/income/:id/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete"
                        data-bs-toggle="modal" data-bs-target="#delete-category-modal">
                    Delete
                </button>
            </div>
        </article>

        <button id="category-add-button" class="category-card" type="button">+</button>

        <div class="modal fade" id="delete-category-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <span class="modal-text">
                         Are you sure you want to delete this category? Related income will remain uncategorized.
                    </span>
                    <div>
                        <button id="confirm-delete-category" type="button" class="btn btn-success me-2"
                                data-bs-target="#confirm-delete-modal" data-bs-toggle="modal">
                            Yes, delete
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Don't delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
                <div class="modal-content">
                    <span id="result-text" class="modal-text">
                            Category has been deleted
                    </span>
                    <div>
                        <button id="result-button" type="button" class="btn btn-success" data-bs-dismiss="modal">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
