<section class="container p-0">
    <header class="page-title">Edit income category</header>

    <div class="category-create">
        <input type="text" class="form-control" value="Salary" placeholder="Title..." aria-label="Title">
        <div class="category-create__actions">
            <button class="btn btn-success" type="button" data-action="create">
                Save
            </button>
            <a href="/category/income" class="btn btn-danger">
                Cancel
            </a>
        </div>
    </div>
</section>
