<section class="container p-0">
    <header class="page-title">Income</header>
    <div id="categories" class="categories">
        <article class="category-card"
                 data-category-id="deposits">
            <h3 id="category-card__title" class="category-card__title">Deposits</h3>
            <div>
                <a href="/categories/income/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="salary">

            <h3 class="category-card__title">Salary</h3>
            <div>
                <a href="/categories/income/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="savings">

            <h3 class="category-card__title">Savings</h3>
            <div>
                <a href="/categories/income/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="investments">

            <h3 class="category-card__title">Investments</h3>
            <div>
                <a href="/categories/income/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>

        <button id="category-add-button" class="category-card" type="button">+</button>

    </div>
    <div class="modal fade" id="category-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <span id="modal-text" class="modal-text"></span>
                <div class="modal-buttons">
                    <button id="modal-confirm" type="button" class="btn btn-success">
                        Delete
                    </button>
                    <button id="modal-cancel" type="button" class="btn btn-success" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
