<section class="container">
    <h1 class="page-title">Dashboard</h1>

    <div id="periods" class="period">
        <button class="period__button btn btn-secondary" data-period="today">Today</button>
        <button class="period__button btn btn-outline-secondary" data-period="week">Week</button>
        <button class="period__button btn btn-outline-secondary" data-period="month">Month</button>
        <button class="period__button btn btn-outline-secondary" data-period="year">Year</button>
        <button class="period__button btn btn-outline-secondary" data-period="all">All</button>
        <button class="period__button btn btn-outline-secondary" data-period="interval">Interval</button>
        <div class="period__custom">
            <span>from</span>
            <button class="fromDate" id="fromDate" type="button">
                <span id="fromDateText">Date</span>
            </button>

            <span>to</span>
            <button class="toDate" id="toDate" type="button">
                <span id="toDateText">Date</span>
            </button>
        </div>
    </div>
    <div class="chart">
        <div class="chart__container">
            <h3 class="chart__title">Incomes</h3>
            <canvas id="chart__incomes"></canvas>
        </div>
        <div class="chart__divider"></div>
        <div class="chart__container">
            <h3 class="chart__title">Expenses</h3>
            <canvas id="chart__expenses"></canvas>
        </div>
    </div>
</section>
