<div class="content">
    <button class="sidebar-toggle" type="button"><i class="bi bi-list"></i></button>
    <div class="sidebar-overlay"></div>
    <div class="content__layout">
        <a href="/"
           class="content__logo">
            <img
                    class="bi pe-none"
                    src="/images/logo.svg"
                    alt="Logo image"
                    width="100"
                    height="40"
                    loading="lazy"
            />
        </a>
        <div class="content__aside">
            <div class="list-group" role="tablist">
                <a href="/" class="list-group-item rounded ">
                    <i class="bi bi-house me-2"></i>Home
                </a>
                <a href="/operations" class="list-group-item rounded ">
                    <i class="bi bi-cash-coin me-2"></i>Operations
                </a>
                <div class="category-toggle-wrapper rounded">
                    <button id="category-button"
                            class="list-group-item collapse-list collapsed rounded-0"
                            data-bs-toggle="collapse" role="tab" data-bs-target="#category-collapse">
                        Category
                        <svg height="13" width="13"
                             viewBox="0 0 492.004 492.004">
                            <path
                                    d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,
                                    7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,
                                    184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,
                                    16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,
                                    7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                            </path>
                        </svg>
                    </button>
                    <div class="collapse" id="category-collapse">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/categories/income"
                                   class="list-group-item ">
                                    Income
                                </a>
                            </li>
                            <li>
                                <a href="/categories/expense"
                                   class="list-group-item ">
                                    Expense
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="balance">
                Balance: <span id="balance-amount" class="ms-2 text-primary fw-bold">$500</span>
            </div>
        </div>
        <div class="content__footer">
            <i class="content__user bi bi-person bg-secondary-subtle text-secondary"></i>
            <span id="user-name">Roman Chernov</span>
        </div>
    </div>
    <div id="content__main" class="content__main"></div>
</div>
