.auth {
  .container {
    min-height: 100vh;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .form-check {
    text-align: start;
    margin-bottom: 0;

    &-input {
      margin-top: 0;
    }
  }

  &__content {
    width: clamp(340px, 27.57vw, 397px);
  }

  &__logo img {
    margin-bottom: 60px;

    @media (width < 769px) {
      margin-bottom: 20px;
    }
  }

  .page-title {
    margin-bottom: 20px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__button {
    width: 100%;
    margin-top: 10px;
  }

  &.not-found {
    display: flex;
    justify-content: center;

    .page-title {
      font-size: clamp(28px, 14.58vw, 210px);
    }
  }
}
