@use "variables";

.operations {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2.78vw, 40px);

  .page-title {
    margin-bottom: 20px;
  }

  .table {
    &-wrapper {
      overflow-x: auto;
    }

    &__header th {
      color: var(--blue-color);
    }

    &__options {
      display: flex;
      gap: 11px;

      button, a {
        padding: 0;
        border: 0;
      }
    }

    .col-hidden {
      @media (width < 768px) {
        display: none;
      }
    }
  }

  .btn {
    font-size: clamp(12px, 1.1vw, 1rem);
  }
}

#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;

  .pagination {
    margin-bottom: 0;
  }

  &__info {
    color: var(--bs-secondary-color);
    font-size: 0.875rem;
  }
}

.type {
  &--income { color: var(--bs-success) !important; }
  &--expense { color: var(--bs-danger) !important; }
}

//____________________________________OPERATIONS CREATE____________________________
.operation {
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min(100%, 397px);
  }

  .actions-group {
    margin-top: 20px;
  }
}
