<section class="container p-0">
    <header class="page-title">Edit expense category</header>

    <div class="category-create">
        <input type="text" class="form-control" value="Health" placeholder="Title..." aria-label="Title">
        <div class="category-create__actions">
            <a href="/category/expense" class="btn btn-success" data-action="save">
                Save
            </a>
            <a href="/category/expense" class="btn btn-danger" data-action="cancel">
                Cancel
            </a>
        </div>
    </div>
</section>
