<section class="container p-0">
    <header class="page-title">Expense</header>
    <div id="categories" class="categories row">
        <article class="category-card"
                 data-category-id="food">
            <h3 id="category-card__title" class="category-card__title">Food</h3>
            <div>
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="housing">

            <h3 class="category-card__title">Housing</h3>
            <div >
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="health">

            <h3 class="category-card__title">Health</h3>
            <div>
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="cafes">

            <h3 class="category-card__title">Cafes</h3>
            <div>
                <a href="/categories/expense/edit" class="btn btn-primary" >
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="cars">

            <h3 class="category-card__title">Cars</h3>
            <div >
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="clothing">

            <h3 class="category-card__title">Clothing</h3>
            <div >
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="entertainment">

            <h3 class="category-card__title">Entertainment</h3>
            <div >
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="bills">

            <h3 class="category-card__title">Bills</h3>
            <div >
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>
        <article class="category-card"
                 data-category-id="sport">

            <h3 class="category-card__title">Sport</h3>
            <div >
                <a href="/categories/expense/edit" class="btn btn-primary">
                    Edit
                </a>
                <button class="btn btn-danger" type="button" data-action="delete">
                    Delete
                </button>
            </div>
        </article>

        <button id="category-add-button" class="category-card" type="button">+</button>

        <div class="modal fade" id="category-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <span id="modal-text" class="modal-text"></span>
                    <div class="modal-buttons">
                        <button id="modal-confirm" type="button" class="btn btn-success">
                            Delete
                        </button>
                        <button id="modal-cancel" type="button" class="btn btn-success" data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
