<div class="auth">
    <div class="container">
        <div class="auth__content">
            <a href="/register"
               class="auth__logo">
                <img
                        class="bi pe-none"
                        src="/images/logo.svg"
                        alt="Logo image"
                        width="100"
                        height="40"
                        loading="lazy"
                />
            </a>
            <h1 class="page-title">Sign Up</h1>
            <form class="auth__inputs" novalidate>
                <div class="input-group ">
                    <span class="input-group-text" id="name-ico">
                        <i class="bi bi-person"></i>
                    </span>
                    <input type="text" class="form-control" name="name"
                           placeholder="Name" aria-label="Name"
                           aria-describedby="name-ico" data-validate="name"
                           data-label="Please enter your name" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="input-group ">
                    <span class="input-group-text" id="lastName-ico">
                        <i class="bi bi-person"></i>
                    </span>
                    <input type="text" class="form-control" name="lastName"
                           placeholder="Lastname" aria-label="Lastname"
                           aria-describedby="lastName-ico" data-validate="lastName"
                           data-label="Please enter your last name" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="email-ico">
                        <i class="bi bi-envelope-open"></i>
                    </span>
                    <input type="email" class="form-control" name="email"
                           placeholder="E-mail" aria-label="E-mail"
                           aria-describedby="email-ico" data-validate="email"
                           data-label="Please enter email" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="password-ico">
                      <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="password"
                           placeholder="Password"
                           aria-label="Password" aria-describedby="password-ico"
                           data-validate="password" pattern=".{8,}"
                           data-label="Please enter password" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="input-group ">
                    <span class="input-group-text" id="repeat-password-ico">
                      <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="passwordRepeat"
                           placeholder="Repeat Password"
                           aria-label="Repeat Password" aria-describedby="passwordRepeat-ico"
                           data-validate="passwordRepeat" pattern=".{8,}"
                           data-label="Please repeat password" required>
                    <div class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary auth__button">Sign Up</button>
            </form>
            <p>Registered? <a href="/login">Sign In</a></p>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3" data-bs-autohide="true" data-bs-delay="5000">
            <div class="toast rounded-3 shadow align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-exclamation-triangle me-2"></i>
                    <strong class="me-auto">Error</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Error message
                </div>
            </div>
        </div>
    </div>
</div>
